/**
 * CSS for daia.xsl.
 */

/* general layout */
body { font-family: sans-serif; }
div { padding: 5px;}
h1 { border-bottom: 1px solid #aaa; margin: 0; font-size: 150%; }
h1, h2 { font-weight: bold; }
h2 { font-size: 130%; }
#footer { border-top: 1px solid #aaa; margin-top: 1em; }

#rawxml { border-top: 1px solid #aaa; margin-top: 1em; padding-top: 0.5em; }

.document { border-left: 1px solid #aaa; 
  border-bottom: 1px dotted #aaa;
  border-top: 1px dotted #aaa;
  padding-left: 1em; 
}

/* copy table */
table { border-collapse:collapse; }
th { background: #fff; color: #000; }
td { border: 1px solid #999; padding: 3px; vertical-align:top; }

/* messages and errors */
.messsage { border: 1px solid #abcdef; background: #D9EDFF; margin: 1px; }
.error    { border: 1px solid #BB7070; background: #FFDBDB; margin: 1px; }
.errno { color: red; font-weight: bold; }

/* ids */
.id { font-family: monospace; font-size: medium; }
.invalid-id { color: #f00; }


/* status icons */
.available, .unavailable, .cur-unavail, .queue, .limitation, .time, .date { 
    padding-left: 23px; line-height: 20px;
    padding-right: 3px;
    /*display: inline-block; */
    display: block;
}

/* delay or expected time */
.time { background:transparent url(icons/clock_16.png) center left no-repeat; }
.date { background:transparent url(icons/calendar_16.png) center left no-repeat; }

.available { background:transparent url(icons/18px-Bullet-green.png) center left no-repeat; }
.unavailable { background:transparent url(icons/18px-Bullet-red.png) center left no-repeat; }
.cur-unavail { background:transparent url(icons/18px-Bullet-ambar.png) center left no-repeat; }

.queue      { background:transparent url(icons/daia_queue_16.png) center left no-repeat; }
.limitation { background:transparent url(icons/daia_limitation_16.png) center left no-repeat; }

/* header icons */
.document-icon, .item-icon, .location-icon, .loan-icon, 
.presentation-icon, .openaccess-icon, .interloan-icon { height:32px; width: 32px; }

.presentation-icon { background:transparent url(icons/daia_presentation_32.png) center center no-repeat; }
.location-icon { background:transparent url(icons/home_32.png) center center no-repeat; }
.loan-icon { background:transparent url(icons/daia_loan_32.png) center center no-repeat; }
.interloan-icon { background:transparent url(icons/daia_interloan_32.png) center center no-repeat; }
.document-icon { background:transparent url(icons/dotted_document_32.png) center center no-repeat; }
.item-icon { background:transparent url(icons/book_sans_32.png) center center no-repeat; }
.openaccess-icon { background:transparent url(icons/daia_openaccess_32.png) center center no-repeat; }

/* xmlverbatim */
.xmlverb-default          { color: #333; font-family: monospace; 
 font-size: medium; background-color: #fff; border: 1px solid #666 }
.xmlverb-element-name     { color: #900 }
.xmlverb-element-nsprefix { color: #660 }
.xmlverb-attr-name        { color: #600 }
.xmlverb-attr-content     { color: #009; font-weight: bold }
.xmlverb-ns-name          { color: #660 }
.xmlverb-ns-uri           { color: #309 }
.xmlverb-text             { color: #000; font-weight: bold }
.xmlverb-comment          { color: #060; font-style: italic }
.xmlverb-pi-name          { color: #060; font-style: italic }
.xmlverb-pi-content       { color: #066; font-style: italic }
